@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
  font-family: 'interstate-light';
  src: url('/assets/fonts/interstate-light.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'interstate-regular';
  src: url('/assets/fonts/interstate-regular.otf');
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: 'SpaceMono-regular';
  src: url('/assets/fonts/SpaceMono-regular.otf');
  font-style: normal;
  font-display: swap;
} */

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0;
  font-weight: normal;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 56px;
  line-height: 80px;
  letter-spacing: 5%;
  font-weight: normal;
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 8%;
  font-weight: normal;
}

h4 {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 8%;
  font-weight: normal;
}
