@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Interstate-light';
  src: url('/assets/fonts/interstate-light.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Interstate-regular';
  src: url('/assets/fonts/interstate-regular.otf');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Space Mono', monospace;
  src: url('/assets/fonts/SpaceMono-Regular.otf');
  font-style: normal;
  font-display: swap;
}

body {
  color: #2c2e31;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0;
  font-weight: normal;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 56px;
  line-height: 80px;
  letter-spacing: 5%;
  font-weight: normal;
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 8%;
  font-weight: normal;
}

h4 {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 8%;
  font-weight: normal;
}

.p14 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.p48 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
}

.p96 {
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.c-btn {
  border: 1px solid #2c2e31;
  border-radius: 8px;
  padding: 11px 24px;
}
